@font-face {
  font-family: "NotHelvetica";
  src: url("../fonts/thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NotHelvetica";
  src: url("../fonts/regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NotHelvetica";
  src: url("../fonts/medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NotHelvetica";
  src: url("../fonts/bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
